/* Base */
body>.wrapper,.page{
	position:absolute;
	width:100%;
	height:100%;
	overflow:hidden;
	}
.page>.wrapper{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: #58c7ff;
}
h2{
	position: absolute;
	top:50%;
	width: 100%;
	opacity: 0;
}
h2 img{
	display: block;
	margin:0 auto;
}
.wrapper article{
	margin:0 15px 20px;
}
.wrapper article img{
	margin:0;
	opacity: 0;
}
.title {
	z-index: 999;
}
.goaway{
	display: none;
}
/* Base */

/* slide arrow */
.page .wrapper .slideArrow {
	position: absolute;
	bottom: 2%;
	width: 6%;
	left: 47%;
	opacity: 0;
}
.page .wrapper.current .slideArrow {
	-webkit-animation:fadeInDown 1.5s 3s ease infinite;

}

/* Open */

.Open .wrapper{
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	background-size: cover;
}
.Open .banner {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}
.Open .title {
	position: absolute;
	width: 80%;
	top: 18%;
	left: 10%;
	opacity: 0;
}

.Open .current .title {
	-webkit-animation:FRight 1s 0s ease both ;
}
.Open aside img{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	opacity: 0;
}

.Open .current aside img:nth-child(1){
	-webkit-animation:fadeInUp 1s 0s ease both ;
}
.Open .current aside img:nth-child(2){
	-webkit-animation:fadeInUp 1s 0.3s ease both ;
}
.Open .current aside img:nth-child(3){
	-webkit-animation:FLeft 1s 1s ease both ;
}
.Open .current aside img.ear{
	-webkit-animation:earRotate 2s 0s linear both infinite;
}
.Open .current aside img:nth-child(4){
	-webkit-animation:FLeft 1s 1s ease both ;
}
.Open .current aside img:nth-child(5){
	-webkit-animation:Scale 1s 1.5s ease both ;
}
@media screen and (max-height:500px) {
	.Open .current aside img:nth-child(5){
		bottom: -3%;
	}
}

/* Open */



/* G1 */
.G1 .wrapper{
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	background-size: cover;
}
.G1 .banner {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}
.G1 .title {
	position: absolute;
	width: 80%;
	top: 20%;
	left: 10%;
	opacity: 0;
}
@media screen and (max-height:500px) {
	.G1 .title {
		top: 16%;
	}
}
.G1 .current .title {
	-webkit-animation:FRight 1s 0s ease both ;
}

.G1 aside img {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	opacity: 0;
}

.G1 .current aside img:nth-child(1){
	-webkit-animation:fadeInUp 1s 0.5s ease both;
}
.G1 .current aside img:nth-child(2){
	-webkit-animation:Scale  1s 1s ease both;
	-webkit-transform-origin: 60% 40%;
	transform-origin: 65% 45%;
}
.G1 .current aside img:nth-child(3){
	-webkit-animation:FLeft 1s 1.5s ease both;
}
.G1 .current aside img:nth-child(4){
	-webkit-animation:FRight 1s 1.5s ease both;
}
.G1 .current aside img:nth-child(5){
	-webkit-animation:Love 1s 2.5s ease both infinite;
}

/* G1 */

/* G2 */
.G2 .wrapper{
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	background-size: cover;
}
.G2 .banner {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
.G2 aside img{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0;
}
@media screen and (max-height:500px) {
	.G2 aside img{
		width: 86%;
		top: 0;
		left: 7%;
		opacity: 0;
	}
}


.G2 .current aside img:nth-child(1){
	-webkit-animation:Scale 1s 0s ease both ;
	-webkit-transform-origin: 50% 10%;
	transform-origin: 50% 10%;
}
/* G2-cow */
.G2 .current aside img:nth-child(6){
	-webkit-animation:FRight 1s 0.5s ease both;
}
.G2 .wrapper .text {
	width: 90%;
	position: absolute;
	bottom: 12%;
	left: 5%;
	opacity: 0;
}
@media screen and (max-height:500px) {
	.G2 .wrapper .text {
		width: 80%;
		position: absolute;
		bottom: 12%;
		left: 10%;
		opacity: 0;
	}
}
.G2 .wrapper.current .text {
	-webkit-animation:fadeInLeft 1s 0.5s ease both ;
}

.G2 .current aside img:nth-child(2){
	-webkit-animation:Scale 1s 1s ease both ;
}
.G2 .current aside img:nth-child(3){
	-webkit-animation:Scale 1s 1.5s ease both ;
	-webkit-transform-origin: 54.53% 42.22%;
	transform-origin: 54.53% 42.22%;
}
.G2 .current aside img:nth-child(4){
	-webkit-animation:Scale 1s 2s ease both ;
	-webkit-transform-origin: 24.64% 82.58%;
	transform-origin: 24.64% 82.58%;
}
.G2 .current aside img:nth-child(5){
	-webkit-animation:Scale 1s 2.5s ease both ;
	-webkit-transform-origin: 64.58% 82.58%;
	transform-origin: 64.58% 82.58%;
}
.G2 .current aside img:nth-child(7){
	-webkit-animation:popUp 0.5s 3s ease both ;
}
.G2 .current aside img:nth-child(8){
	-webkit-animation:popUp 0.5s 3.2s ease both ;
}
.G2 .current aside img:nth-child(9){
	-webkit-animation:popUp 0.5s 3.4s ease both ;
}
.G2 .current aside img:nth-child(10){
	-webkit-animation:popUp 0.5s 3.6s ease both ;
}
.G2 .current aside img:nth-child(11){
	-webkit-animation:popUp 0.5s 3.8s ease both ;
}
.G2 .current aside img:nth-child(12){
	-webkit-animation:popUp 0.5s 4s ease both ;
}
.G2 .current aside img:nth-child(13){
	-webkit-animation:popUp 0.5s 4.2s ease both ;
}

/* G2 */

/* G3 */
.G3 .wrapper{
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	background-size: cover;
}
.G3 .banner {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}
.G3 aside img{
	position: absolute;
	width: 100%;
	top: 10%;
	left: 0;
	opacity: 0;
}
@media screen and (max-height:500px) {
	.G3 aside img{
		width: 86%;
		top: 10%;
		left: 7%;
	}
}
/*title*/
.G3 .current aside img:nth-child(1){
	-webkit-animation:Scale 1s 0s ease both ;
	-webkit-transform-origin: 50% 6.77%;
	transform-origin: 50% 6.77%;
}

/*cow*/
.G3 .current aside img:nth-child(6){
	-webkit-animation:FRight 1s 0.5s ease both ;
}

/*cao*/
.G3 .current aside img:nth-child(7){
	-webkit-animation:FRight 1s 0.5s ease both ;
}
.G3 .current aside img.cao {
	-webkit-animation:caoRotate 1.5s 0s ease-in-out both infinite
}

.G3 .wrapper .text {
	width: 90%;
	position: absolute;
	bottom: 8%;
	left: 5%;
	opacity: 0;
}
@media screen and (max-height:500px) {
	.G3 .wrapper .text {
		width: 80%;
		left: 10%;
	}
}
.G3 .wrapper.current .text {
	-webkit-animation:fadeInLeft 1s 0.5s ease both ;
}



.G3 .current aside img:nth-child(4){
	-webkit-animation:Scale 1s 1.5s ease both ;
	-webkit-transform-origin: 43.33% 54.52%;
	transform-origin: 43.33% 54.52%;
;
}
.G3 .current aside img:nth-child(5){
	-webkit-animation:Scale 1s 1.8s ease both;
	-webkit-transform-origin: 43.33% 54.52%;
	transform-origin: 43.33% 54.52%;
}
.G3 .current aside img:nth-child(3){
	-webkit-animation:Scale 1s 2.1s ease both;
	-webkit-transform-origin: 43.33% 54.52%;
	transform-origin: 43.33% 54.52%;
}
/* circle arrow */
.G3 .current aside img:nth-child(2){
	-webkit-animation:FadeIn 0.5s 2.4s linear both ;
}
.G3 .current aside img.circleArrow{
	-webkit-animation:arrowRoll 5s 0s linear both infinite;
}
/* circle arrow */




/* G3 */

/* G4 */
.G4 .wrapper{
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	background-size: cover;
}
.G4 .banner {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
.G4 aside img{
	position: absolute;
	width: 100%;
	top: 3%;
	left: 0;
	opacity: 0;
}
@media screen and (max-height: 500px){
	.G4 aside img {
		width: 86%;
		left: 7%;
	}
}
.G4 .current aside img:nth-child(1){
	-webkit-animation:Scale 1s 0s ease both;
	-webkit-transform-origin: 50% 14%;
	transform-origin: 50% 14%;
}
/* cow */
.G4 .current aside img:nth-child(15){
	-webkit-animation:FRight 1s 0.5s ease both;
}
/* cow */

.G4 .wrapper .text {
	width: 90%;
	position: absolute;
	bottom: 8%;
	left: 5%;
	opacity: 0;
}
@media screen and (max-height: 500px){
	.G4 .wrapper .text {
		width: 80%;
		left: 10%;
	}
}

.G4 .wrapper.current .text {
	-webkit-animation:fadeInLeft 1s 0.5s ease both ;
}

.G4 .current aside img:nth-child(2){
	-webkit-animation:popUp 0.5s 1.5s ease both;
}
.G4 .current aside img:nth-child(3){
	-webkit-animation:popUp 0.5s 1.7s ease both;
}
.G4 .current aside img:nth-child(4){
	-webkit-animation:popUp 0.5s 1.9s ease both;
}
.G4 .current aside img:nth-child(5){
	-webkit-animation:popUp 0.5s 2.1s ease both;
}
.G4 .current aside img:nth-child(6){
	-webkit-animation:popUp 0.5s 2.3s ease both;
}
.G4 .current aside img:nth-child(7){
	-webkit-animation:popUp 0.5s 2.5s ease both;
}
.G4 .current aside img:nth-child(8){
	-webkit-animation:popUp 0.5s 2.7s ease both;
}
.G4 .current aside img:nth-child(9){
	-webkit-animation:popUp 0.5s 2.9s ease both;
}
.G4 .current aside img:nth-child(10){
	-webkit-animation:popUp 0.5s 3.1s ease both;
}
.G4 .current aside img:nth-child(11){
	-webkit-animation:popUp 0.5s 3.3s ease both;
}
.G4 .current aside img:nth-child(12){
	-webkit-animation:popUp 0.5s 3.5s ease both;
}
.G4 .current aside img:nth-child(13){
	-webkit-animation:popUp 0.5s 3.7s ease both;
}

/* G4 */

/* G5 */
.G5 .wrapper{
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	background-size: cover;
}
.G5 .banner {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}
.G5 aside img{
	position: absolute;
	width: 100%;
	top: 10%;
	left: 0;
	opacity: 0;
}
/* boss */
.G5 .current aside img:nth-child(6){
	-webkit-animation:FRight 1s 0s ease both;
}

/* text */
.G5 .wrapper .text {
	width: 90%;
	position: absolute;
	bottom: 8%;
	left: 5%;
	opacity: 0;
}
.G5 .wrapper.current .text {
	-webkit-animation:FLeft 1s 0s ease both ;
}

/* aside */
.G5 .current aside img:nth-child(1){
	-webkit-animation:FLeft 1s 0.5s ease both;
}
.G5 .current aside img:nth-child(2){
	-webkit-animation:FRight 1s 0.7s ease both;
}
.G5 .current aside img:nth-child(3){
	-webkit-animation:Scale 1s 0.9s ease both;
	-webkit-transform-origin: 25% 28.333%;
	transform-origin: 25% 28.333%;
}
.G5 .current aside img:nth-child(4){
	-webkit-animation:Scale 1s 1.1s ease both;
	-webkit-transform-origin: 38.89% 41.21%;
	transform-origin: 38.89% 41.21%;

}
.G5 .current aside img:nth-child(5){
	-webkit-animation:Scale 1s 1.3s ease both;
	-webkit-transform-origin: 81.89% 52.3%;
	transform-origin: 81.89% 52.3%;
}


/* G5 */

/* PUBLIC ANIMATION */
@-webkit-keyframes Title {
	0% { 
		opacity: 0;
	}
	50% { 
		opacity: 1;
	}
	100% { 
		top:10px;
		opacity: 1;
	}
}
@-webkit-keyframes FadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}
@-webkit-keyframes ScaleImage {
	0% { -webkit-transform: scale(0,0); }
	50% { -webkit-transform: scale(1.1,1.1); }
	100% { -webkit-transform: scale(1,1); }
}

@-webkit-keyframes ScaleImage2 {
	from { -webkit-transform: scale(0,0); }
	to { -webkit-transform: scale(1,1); }
}

@media screen and (min-width: 400px) {
  @-webkit-keyframes ScaleImage2 {
		from { -webkit-transform: scale(0,0); }
		to { -webkit-transform: scale(1.3,1.3); }
	}
}

@-webkit-keyframes fadeInUpBig{
	0%{opacity:0;
	-webkit-transform:translateY(2000px)}
	100%{opacity:1;
	-webkit-transform:translateY(0)}
	}
@-webkit-keyframes Scale {
	0% { -webkit-transform: scale(0,0);opacity: 1; }
	50% { -webkit-transform: scale(1.1,1.1); }
	100% { -webkit-transform: scale(1,1);opacity: 1;  }
}
@-webkit-keyframes FLeft {
	0% { -webkit-transform: translate3d(-100%,0,0); opacity: 1;}
	100% { -webkit-transform: translate3d(0,0,0); opacity: 1;}
}
@-webkit-keyframes FRight {
	0% { -webkit-transform: translate3d(100%,0,0); opacity: 1;}
	100% { -webkit-transform: translate3d(0,0,0);  opacity: 1;}
}
/* PUBLIC ANIMATION */


.cover{
	background: url(./copyright.png) no-repeat;
	background-size: cover;
}


@-webkit-keyframes fadeInDown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}


@-webkit-keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}


@-webkit-keyframes zoomIn {
	from {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3);
	}

	50% {
		opacity: 1;
	}
}

@keyframes zoomIn {
	from {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3);
	}

	50% {
		opacity: 1;
	}
}


@-webkit-keyframes Love {
	from {
		opacity: 0;
		-webkit-transform: scale3d(0.1,0.1,0.1)  translate3d(0, 0, 0);
		transform:scale3d(0.1,0.1,0.1)  translate3d(0, 0, 0);
		transform-origin:64.8% 71.86%;
		-webkit-transform-origin:64.8% 71.86%;
	}
	to {
		opacity: 1;
		-webkit-transform:scale3d(0.6,0.6,0.6)  translate3d(-10%, 0, 0);
		transform:scale3d(0.6,0.6,0.6)  translate3d(-10%, 0, 0);
		transform-origin:64.8% 71.86%;
		-webkit-transform-origin:64.8% 71.86%;
	}
}

@keyframes Love {
	from {
		opacity: 0;
		-webkit-transform:scale3d(0.1,0.1,0.1)  translate3d(0, 0, 0);
		transform:scale3d(0.1,0.1,0.1)   translate3d(0, 0, 0);
		transform-origin:64.8% 71.86%;
		-webkit-transform-origin:64.8% 71.86%;
	}

	to {
		opacity: 1;
		-webkit-transform:scale3d(0.6,0.6,0.6)  translate3d(-10%, -5%, 0);
		transform:scale3d(0.6,0.6,0.6)  translate3d(-10%, -5%, 0);
		transform-origin:64.8% 71.86%;
		-webkit-transform-origin:64.8% 71.86%;
	}
}

@-webkit-keyframes popUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 10%, 0);
		transform: translate3d(0, 10%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes popUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 10%, 0);
		transform: translate3d(0, 10%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@-webkit-keyframes fadeInLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
@-webkit-keyframes arrowRoll {
	from {
		opacity: 1;
		-webkit-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		-webkit-transform-origin: 42.815% 54.3%;
		transform-origin: 42.815% 54.3%;
	}
	to {
		opacity: 1;
		-webkit-transform: rotateZ(360deg);
		transform: rotateZ(360deg);
		-webkit-transform-origin: 42.815% 54.3%;
		transform-origin: 42.815% 54.3%;
	}
}
@keyframes arrowRoll {
	from {
		opacity: 1;
		-webkit-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		-webkit-transform-origin: 42.815% 54.3%;
		transform-origin: 42.815% 54.3%;
	}
	to {
		opacity: 1;
		-webkit-transform: rotateZ(360deg);
		transform: rotateZ(360deg);
		-webkit-transform-origin: 42.815% 54.3%;
		transform-origin: 42.815% 54.3%;
	}
}

@-webkit-keyframes caoRotate {
	0% {
		opacity: 1;
		-webkit-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		-webkit-transform-origin: 75.13% 75.108%;
		transform-origin: 75.13% 75.108%;
	}
	50% {
		opacity: 1;

		-webkit-transform: rotateZ(10deg);
		transform: rotateZ(10deg);
		-webkit-transform-origin: 75.13% 75.108%;
		transform-origin: 75.13% 75.108%;
	}
	100% {
		opacity: 1;
		-webkit-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		-webkit-transform-origin: 75.13% 75.108%;
		transform-origin: 75.13% 75.108%;
	}
}

@keyframes caoRotate {
	0% {
		opacity: 1;
		-webkit-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		-webkit-transform-origin: 75.13% 75.108%;
		transform-origin: 75.13% 75.108%;
	}
	50% {
		opacity: 1;
		-webkit-transform: rotateZ(10deg);
		transform: rotateZ(10deg);
		-webkit-transform-origin: 75.13% 75.108%;
		transform-origin: 75.13% 75.108%;
	}
	100% {
		opacity: 1;
		-webkit-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		-webkit-transform-origin: 75.13% 75.108%;
		transform-origin: 75.13% 75.108%;
	}
}
@-webkit-keyframes earRotate {
	0% {
		opacity: 1;
		-webkit-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		-webkit-transform-origin: 45.659% 55.5876%;
		transform-origin: 45.659% 55.5876%;
	}
	35% {
		opacity: 1;
		-webkit-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		-webkit-transform-origin: 45.659% 55.5876%;
		transform-origin: 45.659% 55.5876%;
	}
	42.5% {
		opacity: 1;
		-webkit-transform: rotateZ(-20deg);
		transform: rotateZ(-20deg);
		-webkit-transform-origin: 45.659% 55.5876%;
		transform-origin: 45.659% 55.5876%;
	}
	50%{
		opacity: 1;
		-webkit-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		-webkit-transform-origin: 45.659% 55.5876%;
		transform-origin: 45.659% 55.5876%;
	}
	57.5% {
		opacity: 1;
		-webkit-transform: rotateZ(-20deg);
		transform: rotateZ(-20deg);
		-webkit-transform-origin: 45.659% 55.5876%;
		transform-origin: 45.659% 55.5876%;
	}
	75%{
		opacity: 1;
		-webkit-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		-webkit-transform-origin: 45.659% 55.5876%;
		transform-origin: 45.659% 55.5876%;
	}
	100% {
		opacity: 1;
		-webkit-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		-webkit-transform-origin: 45.659% 55.5876%;
		transform-origin: 45.659% 55.5876%;
	}
}
@keyframes earRotate {
	0% {
		opacity: 1;
		-webkit-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		-webkit-transform-origin: 45.659% 55.5876%;
		transform-origin: 45.659% 55.5876%;
	}
	35% {
		opacity: 1;
		-webkit-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		-webkit-transform-origin: 45.659% 55.5876%;
		transform-origin: 45.659% 55.5876%;
	}
	42.5% {
		opacity: 1;
		-webkit-transform: rotateZ(-20deg);
		transform: rotateZ(-20deg);
		-webkit-transform-origin: 45.659% 55.5876%;
		transform-origin: 45.659% 55.5876%;
	}
	50%{
		opacity: 1;
		-webkit-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		-webkit-transform-origin: 45.659% 55.5876%;
		transform-origin: 45.659% 55.5876%;
	}
	57.5% {
		opacity: 1;
		-webkit-transform: rotateZ(-20deg);
		transform: rotateZ(-20deg);
		-webkit-transform-origin: 45.659% 55.5876%;
		transform-origin: 45.659% 55.5876%;
	}
	75%{
		opacity: 1;
		-webkit-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		-webkit-transform-origin: 45.659% 55.5876%;
		transform-origin: 45.659% 55.5876%;
	}
	100% {
		opacity: 1;
		-webkit-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		-webkit-transform-origin: 45.659% 55.5876%;
		transform-origin: 45.659% 55.5876%;
	}

}




.loading {
	background: #58c7ff;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 999;
	text-align: center;
}
.loading-text {
	height: 20px;
}
.loading-effect-3 {
	width: 100px;
	height: 100px;
	margin: 100px auto 50px;
}
.loading-effect-3 div {
	display: block;
	width: 100%;
	height: 100%;
	border: 1px solid #fff;
	border-radius: 50%;
}
.loading-effect-3 div > span {
	background: #fff;
	width: 10px;
	height: 10px;
	display: block;
	border-radius: 50%;
	position: relative;
	top: -5px;
	left: 50%;
	-webikt-transform-origin: 0 55px;
	-moz-transform-origin: 0 55px;
	-o-transform-origin: 0 55px;
	transform-origin: 0 55px;
	-webkit-animation: effect-3 2s infinite linear;
	-moz-animation: effect-3 2s infinite linear;
	-ms-animation: effect-3 2s infinite linear;
	-o-animation: effect-3 2s infinite linear;
	animation: effect-3 2s infinite linear;
}
@-webkit-keyframes effect-3 {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes effect-3 {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
